@font-face {
  font-family: 'EddaFilled';
  src: local('EddaFilled'), url('fonts/EddaFilled.ttf');
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Briar";
  src: url("fonts/Briar.woff") format("woff"), /* Modern Browsers */
    url("fonts/Briar.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: Briar;
}