@font-face {
    font-family: 'briarbold';
    src: url('briar-webfont.woff2') format('woff2'),
         url('briar-webfont.woff') format('woff'),
         url('briar-webfont.svg#briarbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'briarbold', 'Nixie One';
}

article {
  padding-top: 100px !important;
}

body {
  padding-top: 20px !important;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.navbar {
    background-color: #fffff7;
    box-shadow: 0 0 50px rgba(252, 252, 252, 0.76);
    text-transform: lowercase;
    background-image: linear-gradient(to bottom,  #fffff7,  #fffff7,  #fffff7,  #fffff7ed,  #fffff7ba,  #fffff7) !important;  
    min-height: 100px !important;
}

li.nav-item {
  text-align: center !important;
}

.navbar-brand{
  color: grey !important;
}

a.nav-link {
  font-weight: 200 !important;
}


.navbar .navbar-nav .nav-link.active {
    font-weight: 700 !important;
    color: #ee5863 !important;
}

.hljs { /* code font size */
font-size: 16px;
padding: 1rem;
}

table {
  background: transparent !important;
  background-color: transparent !important;
}

tr,td,th {
    background: transparent !important;
    background-color: transparent !important;
}

table>tbody>tr:nth-child(odd)>td, table>tbody>tr:nth-child(odd)>th {
  background-color: transparent !important;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: transparent !important;
}

/* --------Blog posts--------- */
/* Headers within blogs */

.article-style .section.level1 h1,
.article-style .section.level2 h2,
.article-style .section.level3 h3 {
  padding-top: 2em;
  padding-bottom: 1em;
  font-weight: 700;
}

/* Links within blog posts */

.article-style .section a {
  color: #E14675;
}

.article-style .section a:hover {
  color: #DCA0B2;
}

.dark body {
	color: #F5DBDD;
}

.dark #text {
	color: #F5DBDD;
}

video {
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.twitter {
    padding: 1em;
    margin: 1em 0;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: #1f5386;
    background-color: #B6D079;
    border: solid 5px #E9F0D6;
  }
  
div.question {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: #1f5386;
    background-color: #B6D079;
    border: solid 5px #E9F0D6;
}

div.TODO {
    padding: 1em;
    margin: 1em 0;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 15px center;
    color: white;
    background-color: #b53737;
    border: solid 5px #8e1600;
}

div.question {
  background-image: url("../question.png");
}

.navbar-brand, .navbar-nav li.nav-item a.nav-link {
    height: inherit;
    line-height: 30px !important;
    padding-top: 7px !important;
    padding-bottom: 5px !important;
}

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #EE5863;
  height: 2px;
}

a.nav-link:hover:after {
  width: 70%;
}

/* resume button */
a[href="resume.pdf"] {
  border: solid 1px white;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

a[href="resume.pdf"]:hover {
  background-color: white;
  color: black;
}

/* card color */
.card {
  background-color: #fffff7;
}

a[data-fancybox] img {
  height: 150px !important;
  width: 150px !important;
}

.course .card-subtitle a:hover {
  color: pink !important;
}

.talk_pub_img {
  max-height: 100px;
  max-width: 150px;
  padding-left: 50px;
}

img.card-link.talk_pub_img {
  filter: drop-shadow(0 0 0.25rem grey);
}

.card-left {
  float: left !important;
  width: 65% !important;
  overflow: hidden !important;
  padding-right: 10px !important;
}


a.page-link:hover {
  color: grey;
  background-color: white;
}

a.page-link {
  color: white;
  background-color: #FADADD;
}

#gallery {
  background-color: #fffff7 !important;
}

section#post,
section#projects,
section#accomplishments {
  padding-top: 100px;
}


.card-simple {
  background-color: #fffff7 !important;
}